/* body{
    background-color: aquamarine;
} */

.heading{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 20px;
    
}
.containerr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px;
    border-radius: 25px;
    
}
.blog-form{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 10px;

}
.btn-s{
    margin:10px;
    border-radius: 5px;
    border:1;
    background-color: black;
    color: white;
    padding: 5px;
}

.list-blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    border:  1px solid black;
    margin: 3px;
    padding: 4px;

}
/* .h22{
    font-size: 10px;
} */

button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}