{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogtemp/css/base.css' %}">
    <title>Document</title>
</head>

<body class="container">
    {% if user.is_authenticated %}
    <h1 class="heading">Hello!! {{ user.username }}</h1>
    <div class="containerr">
        <div class="blog-form">
            <form method="post" class="blog-form">
                {% csrf_token %}
                <label>Title</label>
                <input type="text" name="title">
                <label>Body</label>
                <textarea name="body"></textarea>
                <button type="submit" class="btn-s">Submit</button>
            </form>
        </div>
        <h1>Blogs</h1>
        {% for blog in blogs %}
        <div class="list-blog">
            <form method="post" action="{% url 'edit_blog' blog.id %}">
                {% csrf_token %}
                <!-- <h3 class="h22">{{ blog.title }}</h3> -->
                <div>
                    <label>Author</label>
                    <p>{{ blog.user.username }}</p>
                </div>
                <div>
                    <label>Title</label>
                    <input type="text" name="title" value="{{ blog.title }}">
                </div>
                <div>
                    <!-- <p>{{ blog.body }}</p> -->
                    <label>Body</label>
                    <textarea name="body">{{ blog.body }}</textarea>
                </div>
        </div>

        <!-- {% if blog.user == user %} -->
        <button name="edit">Edit</button>
        <!-- ---------------------------------- -->
        </form>
        <form method="post" action="{% url 'delete_blog' blog.id %}">
            {% csrf_token %}
            <button name="delete">Delete</button>

        </form>

        <!-- {% endif %}    -->
        {% endfor %}

    </div>
    <!-- <form action="{% url 'logout' %}" method="post">
  {% csrf_token %} -->
    <button type="submit"><a href="{% url 'logout' %}">Log Out</a></button>
    <!-- </form>    -->
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Register</a>
    {% endif %}

</body>

</html>